<div class="w-full">
    <nav>
        <ul class="list-none">
            <li class="text-lg float-left p-4 cursor-pointer"><a routerLink="/dashboard" [routerLinkActive]="'text-gray-300 cursor-default'">Dashboard</a></li>
            <li class="text-lg float-left p-4 cursor-pointer"><a routerLink="/games" [routerLinkActive]="'text-gray-300 cursor-default'">Games</a></li>
            <li class="text-lg float-left p-4 cursor-pointer"><a routerLink="/settings" [routerLinkActive]="'text-gray-300 cursor-default'">Settings</a></li>
        </ul>
    </nav>
</div>