<div class="flex flex-col text-lg text-white bg-gray-800 rounded-md mt-2 p-6 w-full">
    <span class="font-bold mb-4">Bearbeiten</span>
    <form [formGroup]="editForm">
        <div class="p-2 pt-4">
          <span class="p-float-label w-full">
            <input id="name" class="w-full" type="text" pInputText formControlName="name"/>
            <label for="name">Namen...</label>
          </span>
        </div>
        <div class="flex flex-row w-full mt-2 justify-between">
          <div class="p-2 pt-4">
            <p-dropdown [showClear]="true" styleClass="w-full " formControlName="genre" [options]="getMenuItems()" placeholder="Genre..."></p-dropdown>
          </div>

          <div class="p-2 pt-4">
            <p-dropdown [showClear]="true" styleClass="w-full" formControlName="platform" [options]="getPlatformItems()" placeholder="Platform..."></p-dropdown>
          </div>

          <div class="p-2 pt-4">
            <span class="p-float-label w-full">
              <p-calendar inputId="startDate" formControlName="startDate" dateFormat="dd.mm.yy" [iconDisplay]="'input'" [showIcon]="true"></p-calendar>
              <label for="startDate">Gestartet am</label>
            </span>
          </div>
          <div class="p-2 pt-4">
            <span class="p-float-label w-full">
              <p-inputNumber  inputId="rating" mode="decimal" locale="de-DE" [minFractionDigits]="1" suffix=" Sterne" formControlName="rating" [min]="0.5" [max]="10" [step]="0.5"> </p-inputNumber>
              <label for="rating">Rating</label>
            </span>
          </div>
        </div>
        
        <div class="p-2 pt-4 w-full">
          <span class="p-float-label w-full">
            <textarea class="w-full" id="float-input" rows="5" cols="30" pInputTextarea formControlName="notes" value="{{game.notes}}"></textarea>
            <label for="float-input">Notizen</label>
        </span>
        </div>

      </form>
      <div class="flex flex-row-reverse pr-2">
        <p-button (click)="onSave()" class="ml-4">Speichern</p-button>
        <p-button (click)="onCancel()">Abbrechen</p-button>
      </div>
</div>