<div class="flex flex-col">
    <app-hero></app-hero>
     <div class="flex flex-row">
        <app-statistic-fieldset
            class="flex-grow"
            title='Beendete Spiele'>
            {{getFinishedGames()}} bisher beendet.
        </app-statistic-fieldset>
        <app-statistic-fieldset
            class="flex-grow"
            title='Durchschnittliche Bewertung'>
            {{getAverageRating()}}
        </app-statistic-fieldset>
        <app-statistic-fieldset
            class="flex-grow"
            title='Durchschnittliche Bewertung'>
            {{getAverageRating()}}
        </app-statistic-fieldset>
        <app-statistic-fieldset
            class="flex-grow"
            title='Häufigstes Genre'>
            {{getMostPopularGenre() | titlecase}}
        </app-statistic-fieldset>
      </div>
      <div class="flex flex-row">
        <app-statistic-fieldset
          class="flex-grow"
          title='Top 5 Spiele'>
          <ul>
            <li *ngFor="let game of getFiveBestGames() index as i">{{i+1}}. {{game}}</li>
          </ul>
        </app-statistic-fieldset>
        <app-statistic-fieldset
          class="flex-grow"
          title='Flop 5 Spiele'>
          <ul>
            <li *ngFor="let game of getFiveWorstGames() index as i">{{i+1}}. {{game}}</li>
          </ul>
        </app-statistic-fieldset>
    </div>
</div>